hostname {{ item.hostname }}

!
interface Loopback{{ item.loopID }}
  ip address {{ item.loopIP }} 255.255.255.255
!
{% for fa in item.interfaces %}
!
interface {{fa.type}}{{ fa.id }}
 ip address {{ fa.ip }} 255.255.255.0
 duplex auto
 speed auto
 no shutdown
!
{% endfor %}
{% if item.ospf %}
router ospf {{ item.ospfID }}
{% for fa in item.interfaces %}
  network {{ fa.subnet }} 0.0.0.255 area {{ item.ospfArea }}
{% endfor %}
  network {{ item.loopIP }} 0.0.0.0 area {{ item.ospfArea }}
!
{% endif %}

